# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Popular Languages used in Data Science
* Commonly used libraries
* Data Science Tools
* Aritmethic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Apache Spark
5. Tableau

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Scikit-learn
3. Matplotlib
4. Seaborn
5. TensorFlow
6. PyTorch

|Data Science Tools|
|------------------|
|Jupiter Notebooks |
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rony Calderon